{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:black;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Verdana, Geneva, sans-serif;
            font-size:14px;
        }

    </style>
{% endblock %}
{% block content %}

<div id="wrap">

  <div id="header">
    <img src="{{ url_for('static', filename ='dheader.png') }}" height="80" width="760" align="center" >
    <h3 align="left">bca-webtools</h3>
  </div>

  <div id="nav">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></td></li>
    </ul>
  </div>

    <!--<BR>&nbsp;<BR> -->

  <div id="main">

    <p class="important">
      File system metadata for disk image: {{image.image_name }}

      <BR>&nbsp;<BR> 
        <table>
           <tr> <td>Acquisition Date: </td>  <td><b>{{ image.acq_date }}</b>   </td> </tr>
           <tr> <td>System Date:      </td>  <td><b>{{ image.sys_date }}</b>   </td> </tr>
           <tr> <td>OS:               </td>  <td><b>{{ image.os }}</b>         </td> </tr>
           <tr> <td>File Format:      </td>  <td><b>{{ image.file_format }}</b></td> </tr>
           <tr> <td>Media Type:       </td>  <td><b>{{ image.media_type }}</b> </td> </tr>
           <tr> <td>Is Physical?:     </td>  <td><b>{{ image.is_physical }}</b></td> </tr>
           <tr> <td>Blocks Per Sector:</td>  <td><b>{{ image.bps }}</b>        </td> </tr>
           <tr> <td>Media Size:       </td>  <td><b>{{ image.media_size }}</b> </td> </tr>
           <tr> <td>MD5:              </td>  <td><b>{{ image.md5 }}</b>        </td> </tr>
<!--
            <li>Acquisition Date:  <b>{{ image.acq_date }} </b> </li>
            <li>System Date:       <b>{{ image.sys_date }} </b> </li>
            <li>OS:                <b>{{ image.os }}</b> </li>
            <li>File Format:       <b>{{ image.file_format }}</b> </li>
            <li>Media Type:        <b>{{ image.media_type }}</b> </li>
            <li>Is Physical?:      <b>{{ image.is_physical }}</b> </li>
            <li>Blocks Per Sector: <b>{{ image.bps }}</b> </li>
            <li>Media Size:        <b>{{ image.media_size }}</b> </li>
            <li>MD5:               <b>{{ image.md5 }}</b> </li>
-->
        </table>
    </p>
  </div>

  <div id="sidebar">

    <p></p>

  </div>

  <div id="footer">
    <p>BitCurator Access, 2015</p>
  </div>

</div>

{% endblock %}
