{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #704040; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:#222;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Roboto, sans-serif;
            line-height: 1.6
            font-size:14px;
            <!--font-family: Verdana, Geneva, sans-serif;-->
            <!--background-color: #d2b48c;-->
        }

    </style>
{% endblock %}
<!-- .important { color: #336699; } -->

{% block content %}

<div id="wrap">

  <div id="header">
    <div style="width: 30%; display: table;">
      <div style="display: table-row">
        <div style="display: table-cell;"> <img src="{{ url_for('static', filename ='bc2-icon.png') }}" h
eight="80" width="80" align="center" > </div>
        <div style="width: 300px; display: table-cell;"> <div id="btext">BCA Webtools</div> </div>
      </div>
    </div>    

      <!--<h3 align="left">BCA Webtools</h3>-->
      <!--<div id="btext">BCA Webtools</div>-->
      <!--<img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="72" width="72" align="center" >-->
  </div>

  <div id="nav">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></td></li>
    </ul>
  </div>

    <!--<BR>&nbsp;<BR> -->

  <div id="main">

    <p class="important">
      File system metadata for disk image: {{image.image_name }}

      <BR>&nbsp;<BR> 
        <table>
           <tr> <td>Acquisition Date:        </td>  <td><b>{{ image.acq_date }}</b>   </td> </tr>
           <tr> <td>Acquisition System Date: </td>  <td><b>{{ image.sys_date }}</b>   </td> </tr>
           <tr> <td>Acquisition OS:          </td>  <td><b>{{ image.os }}</b>         </td> </tr>
           <tr> <td>File Format:             </td>  <td><b>{{ image.file_format }}</b></td> </tr>
           <tr> <td>Media Type:              </td>  <td><b>{{ image.media_type }}</b> </td> </tr>
<!--       <tr> <td>Is Physical?:       </td>  <td><b>{{ image.is_physical }}</b></td> </tr> -->
           <tr> <td>Blocks Per Sector:       </td>  <td><b>{{ image.bps }}</b>        </td> </tr>
           <tr> <td>Media Size (bytes):      </td>  <td><b>{{ image.media_size }}</b> </td> </tr>
           <tr> <td>MD5:                     </td>  <td><b>{{ image.md5 }}</b>        </td> </tr>
        </table>
    </p>
  </div>

  <div id="sidebar">

    <p></p>

  </div>

  <div id="footer">
    <a href={{ admin }}>Admin</a>
    <!-- <p>BitCurator Access, 2015</p> -->
  </div>

</div>

{% endblock %}
