{% extends "page.html" %}
{% block title %}{{ image.name }} | files{% endblock %}
{% block scripts %}
{% with table_id='listing' %}
{% include "table_sort.html" %}
{% endwith %}
{% endblock scripts %}
{% block page_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <h2>Directory Listing</h2>
    <table id="listing" class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Filename</th>
          <th>Bytes</th>
          <th>Created</th>
          <th>Modified</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td><span class="glyphicon glyphicon-{{ 'folder-open' if file.is_directory else 'file' }}" aria-hidden="true"></span></td>
          <td><a href="{{ "/image/" + image.id|string + "/" + partition.id|string + file.path }}" >{{ file.name }}</a></td>
          <td>{{ sizeof_fmt(file.size) }}</td>
          <td>{{ file.details.ctime }}</td>
          <td>{{ file.details.mtime }}</td>
          {% if file.is_deleted %}
          <td><span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span></td>
          {% elif file.is_directory %}
          <td></td>
          {% else %}
          <td><a href="{{ "/raw/" + image.id|string + "/" + partition.id|string + file.path }}" ><span class="glyphicon glyphicon-save" aria-hidden="true"></span></a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock page_content %}
