{% extends "page.html" %}
{% block title %}{{ image.name }} | files{% endblock %}
{% block page_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <h2>Directory Listing</h2>
    <table class="table table-striped">
      <tr>
        <th>Type</th>
        <th>Filename</th>
        <th>Bytes</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Deleted</th>
      </tr>
      {% for file in files %}
      <tr>
        <td><span class="glyphicon glyphicon-{{ 'folder-open' if file.is_directory else 'file' }}" aria-hidden="true"></span></td>
        <td><a href="{{ "/image/" + image.id|string + "/" + partition.id|string + file.path }}" >{{ file.name }}</a></td>
        <td>{{ sizeof_fmt(file.size) }}</td>
        <td>{{ file.details.ctime }}</td>
        <td>{{ file.details.mtime }}</td>
        <td><span class="glyphicon glyphicon-{{ 'trash' if file.is_deleted else 'floppy-disk' }}" aria-hidden="true"></span></td>
      </tr>
      {% endfor %}
    </table>
{% endblock page_content %}
