{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:#222;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Roboto, sans-serif;
            line-height: 1.6
            font-size:14px;
            <!--font-family: Verdana, Geneva, sans-serif;-->
            <!--background-color: #d2b48c;-->
        }
        form {
            list-style-type: none;
            top: 15px;
            right: 350px;
            <!--position: absolute;-->
        }
        div#content {
            display: none;
        }
        div#loading {
            top: 200 px;
            margin: auto;
            position: absolute;
            z-index: 2000;
            width: 222px;
            height: 21px;
            background: url(/static/loadingimage.gif) no-repeat ;
            cursor: wait;
        }
    </style>

    <script type="text/javascript">
        // <![CDATA[
        function preloader(){
            //window.alert("preloader")
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader function

        function loader_func(){
            window.alert("loader_function")
            document.getElementById("loading").style.display = "inline";
            document.getElementById("content").style.display = "block";
        }//preloader function
        window.onload = preloader;
        // ]]>
    </script>

{% endblock %}

{% block content %}

{# <div id="loading"></div> #}

<div id="content">

  <div id="header">
    <div style="width: 30%; display: table;">
      <div style="display: table-row">
        <div style="display: table-cell;"> <img src="{{ url_for('static', filename ='bc2-icon.png') }}" h
eight="80" width="80" align="center" > </div>
        <div style="width: 300px; display: table-cell;"> <div id="btext">BCA Webtools</div> </div>
      </div>
    </div>    

      {# <!--<h3 align="left">BCA Webtools</h3>-->
      <!--<div id="btext">BCA Webtools</div>-->
      <!--<img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="72" width="72" align="center" >--> #}
  </div>

  <div id="nav">
    <ul>

      <li><a href="{{ url_for('home') }}">Home</a></td></li>

    </ul>
  </div>

  <div id="main">

    <h3 align="left">bca-webtools - Admin Tools</h3>

    <!--<ul class="menu"> -->
    <form action="{{ url_for('admin') }}" method=post>
      {{ form.radio_option }}
      {# {{ form.submit }} #}
      <div id="loading"></div>
      <input type="submit" name="loading" value="Submit" onclick="loader_func();">
    </form>
    
  </div>

  <div id="sidebar">
    <p></p>
  </div>

  <div id="footer">
    <li><a href="{{ url_for('admin') }}">Admin</a></td></li>
    <!-- <p>BitCurator Access, 2015</p> -->
  </div>

</div>

{% endblock %}
 

