{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:#222;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Roboto, sans-serif;
            line-height: 1.6
            font-size:14px;
            <!--font-family: Verdana, Geneva, sans-serif;-->
            <!--background-color: #d2b48c;-->
        }
        form {
            list-style-type: none;
            top: 15px;
            right: 350px;
            <!--position: absolute;-->
        }

    </style>
{% endblock %}
{% block content %}

<div id="wrap">

  <div id="header">
    <div style="width: 30%; display: table;">
      <div style="display: table-row">
        <div style="display: table-cell;"> <img src="{{ url_for('static', filename ='bc2-icon.png') }}" h
eight="80" width="80" align="center" > </div>
        <div style="width: 300px; display: table-cell;"> <div id="btext">BCA Webtools</div> </div>
      </div>
    </div>    

      {# <!--<h3 align="left">BCA Webtools</h3>-->
      <!--<div id="btext">BCA Webtools</div>-->
      <!--<img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="72" width="72" align="center" >--> #}
  </div>

  <div id="nav">
    <ul>

      <li><a href="{{ url_for('home') }}">Home</a></td></li>

    </ul>
  </div>

  <div id="main">

    <h3 align="left">bca-webtools - Administrative Functions</h3>

    These functions provide administrative control of the contents of the database and search index.
    <p>
    "Build Image Table" populates the database with basic metadata from newly added E01 and AFF images.
    <p>
    "Build DFXML Table" generates DFXML files for all images that do not already have associated DFXML
    files, and populates the database with this information.
    <p>
    "Build All Tables" builds all tables associated with the database.
    <p>
    Each of the "Drop" options drops the associated table from the database.
    <p>
    "Generate Index" generates an index of searchable content from common filetypes found in
    available images using PyLucene.
    <p>
    "Clear Index" clears the existing index.
    <p>
    "Show Image Matrix" displays a table of all readable images, and shows the current status of
    information from that image in the database.


    <!--<ul class="menu"> -->
    <form action="{{ url_for('admin') }}" method=post>

      <table>
        {% for subfield in form.radio_option %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <!--{{ form.radio_option }}-->
      </table>

      {{ form.submit }}

    </form>

    <p style='font-size:12; color:Green'>
    <!--Option {{ db_option }} chosen : {{ db_option_msg }}-->
    <img src="{{ url_for('static', filename = "info_circle.png") }} " align="center" > {{ db_option_msg }}
    </p>

    <ul>
      <!--<caption><i> Image Matrix </i></caption> -->
      <table style="width:800px">
        <tr>
          <th align="left">Index</th>
          <th align="left">Image Name</th>
          <th align="left">Image Table?</th>
          <th align="left">DFXML Table?</th>
          <th align="left"> Indexed? </th>
          <th align="left"> Add DFXML Table </th>
          <th align="left"> Drop DFXML Table </th>
        </tr>
        {% for item in image_matrix %}
        <p style="font-size:9">
        <tr>
          <td>{{ item.img_index }}</td>
          <td>{{ item.img_name }}</td>
          <td>{{ item.img_db_exists }}</td>
          <td>{{ item.dfxml_db_exists }}</td>
          <td>{{ item.index_exists }}</td>

          <td>
            <form role="form" method="post">
              <input type=checkbox name=build_table value={{ item.img_name }} name='build_table'>
              <button type="submit" name="build_table" value="submit">Add</button>
            </form>
          </td>
          
          <td>
            <form role="form" method="post">
              <input type=checkbox name=delete_table value={{ item.img_name }} name='delete_table'>
              <button type="submit" name="delete_table" value="submit">Delete</button>
            </form>
          </td>
          {# <!-- <td>{{ build_form.radio_option}} {{build_form.submit }} </td> --> #}

        </tr>
        </p>

        {% endfor %}
      </table>
    </ul>

  </div>

  <div id="sidebar">
    <p></p>
  </div>

  <div id="footer">
    <li><a href="{{ url_for('admin') }}">Admin</a></td></li>
    <!-- <p>BitCurator Access, 2015</p> -->
  </div>

</div>

{% endblock %}


