{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:black;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: sans-serif;
            font-size:14px;
        }

    </style>
{% endblock %}
{% block content %}
    <img src="{{ url_for('static', filename ='dheader.png') }}" height="80" width="760" align="center" >
    <h3 align="left">bca-webtools</h3>
    {#<BR>&nbsp;<BR>#}
    <BR>&nbsp;<BR> 
    <p class="important">
      Files to browse or download:

      <BR>&nbsp;<BR> 
        {#
        <script>
        document.write(document.URL);
        document.write(partition_num);
        url = document.URL;
        </script>
        {% set current_url = url %}
        #}

        <ul>
          <!--<table style="width:300px"> -->
          <table>
          <caption><i> Directory Listing </i></caption>
          <tr>
              <th>d/r</th>
              <th>Filename</th>
              <th>Size</th>
              <th>Modified time</th>
              <th>Deleted?</th>
          </tr>
          {% for item in file_list %} 
            {% if item.isdir %}
                {% set column1 = 'd' %}
            {% else %}
                {% set column1 = 'r' %}
            {% endif %}
            {#{% set fileinfo_html = partition_num ~'/'~new_dir~'/'~item.name %}#}
            {#{% set fileinfo_html = partition_num ~ '/' ~ new_dir~'/'~item.name %} #}
            {#{% set fileinfo_html = '/' ~ new_dir~'/'~item.name %} #}
              {#<td> <a href={{ filepath_string ~ '%' ~ item.name }}>Browse</a> <a href=imgdnld.html>Download</a> </td> #}
              {#<td> <a href={{ url~'-'~item.name }}>Browse</a> <a href=imgdnld.html>Download</a> </td> #}
            {#{% set temp = url | replace('/','%') %}#}
            {#{% set filepath_string = temp | replace('%', '/', 4) %}#}
            {% if ' ' in item.name %}
              {% set itemname = item.name.replace(' ', "_") %}
            {% else %}
              {% set itemname = item.name %}
            {% endif %}

            {% set filepath_string = url %}
            <p style="font-size:9">
            <tr>
              <td>{{ column1 }}</td>
              <td> <a href={{ filepath_string~'/'~itemname~'-'~item.inode }}>{{ itemname}}</a>  </td>
              <td>{{ item.size }}</td>
              <td>{{ item.mtime }}</td>
              <td>{{ item.deleted }}</td>
              <td>{{ itemname }}</td>
 
            </tr>
            </p>
          {% endfor %}
        </ul>
      {# {% endraw %} #}
    </p>
{% endblock %}
