{% extends "flask_template.html" %}
{% block title %}BitCurator Image Browser{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .scroller {
          overflow: scroll;
          padding: 5px;
          height: 100%;
        }

    </style>
{% endblock %}
{% block content %}
    <img src="{{ url_for('static', filename ='dheader.png') }}" align="right" height="80" >
    <h1>BitCurator Image Browser</h1>
    <p class="important">
      <BR>&nbsp;<BR>
      <p>
      Image: {{image_name }} <br/>
      Partition: {{partition_num }} <br/>
      Filename: {{ file_name }}
      </p>
      <BR>&nbsp;<BR>

        <ul>
        {{ contents }}
        </ul>
    </p>
{% endblock %}
