{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:#222;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Roboto, sans-serif;
            line-height: 1.6
            font-size:14px;
            <!--font-family: Verdana, Geneva, sans-serif;-->
            <!--background-color: #d2b48c;-->
        }

    </style>
{% endblock %}
{% block content %}

<div id="wrap">

  <div id="header">
    <div style="width: 30%; display: table;">
      <div style="display: table-row">
        <div style="display: table-cell;"> <img src="{{ url_for('static', filename ='bc2-icon.png') }}" h
eight="80" width="80" align="center" > </div>
        <div style="width: 300px; display: table-cell;"> <div id="btext">BCA Webtools</div> </div>
      </div>
    </div>    

      <!--<h3 align="left">BCA Webtools</h3>-->
      <!--<div id="btext">BCA Webtools</div>-->
      <!--<img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="72" width="72" align="center" >-->
  </div>

  <div id="nav">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></td></li>
    </ul>
  </div>

  <div id="main">

    <p class="important">
      The following partitions were found in this disk image:

      <BR>&nbsp;<BR> 
        <script>
        document.write({{ image_name }});
        </script>
        <ul style="list-style: none;">

          <table class="spaced">
            </tr>
              <th align="left">Partition</th>
              <th align="left">File System Type</th>
              <th align="left">Browse</th>
            </tr>
            {% for number in range(0, num_partitions) %} 
              {% set part = number + 1 %}
              {% set partinfo_html = image_name ~ "/"~part %}
            <tr>
              <td> {{ part }} </td>
              <td> {{part_desc[number]}} </td>
              <td> <a href={{ partinfo_html }}><img src="{{ url_for('static', filename ='browse.png') }}" height="20" width="20" align="center" border="0" ></a> </td>
            </tr>

            {% endfor %}
          </table>
 
        </ul>

    </p>

  </div>

  <div id="sidebar">
    <p></p>
  </div>

  <div id="footer">
    <a href={{ admin }}>Admin</a>
    <!-- <p>BitCurator Access, 2015</p> -->
  </div>

</div>

{% endblock %}
