{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:black;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: sans-serif;
            font-size:14px;
        }

    </style>
{% endblock %}
{% block content %}
    <img src="{{ url_for('static', filename ='dheader.png') }}" height="80" width="760" align="center" >
    <h3 align="left">bca-webtools</h3>
    {#<BR>&nbsp;<BR>#} 
    <BR>&nbsp;<BR> 
    <p class="important">
	Browse directories and download files:
      <BR>&nbsp;<BR> 
        <script>
        document.write({{ file_list }});
        </script>
        <ul>
          <!--<table style="width:300px"> -->
          <table>
          <!--<caption><i> File List </i></caption>-->
          <tr>
              <th>d/r</th>
              <th>Filename</th>
              <th>Size</th>
              <th>Modified time</th>
              <th>Deleted?</th>
          </tr>
          {% for item in file_list %} 
            {% if item.isdir %}
                {% set column1 = 'd' %}
            {% else %}
                {% set column1 = 'r' %}
            {% endif %}

            {% if ' ' in item.name %}
              {% set itemname = item.name.replace(' ', "_") %}
            {% else %}
              {% set itemname = item.name %}
            {% endif %}


            {% set fileinfo_html = partition_num ~'/'~ itemname~'-'~item.inode %}
            <p style="font-size:9">
            <tr>
              <td>{{ column1 }}</td>
              <td> <a href={{ fileinfo_html }}>{{ itemname }}</a>  </td>
              <td>{{ item.size }}</td>
              <td>{{ item.mtime }}</td>
              <td>{{ item.deleted }}</td>
            </tr>
            </p>
          {% endfor %}
        </ul>
      {# {% endraw %} #}
    </p>
{% endblock %}
