{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #222; }
    </style>
{% endblock %}
{% block content %}

<div id="wrap">

  <div id="header">
    <div style="width: 30%; display: table;">
      <div style="display: table-row">
        <div style="display: table-cell;"> <img src="{{ url_for('static', filename ='bc2-icon.png') }}" h
eight="80" width="80" align="center" > </div>
        <div style="width: 300px; display: table-cell;"> <div id="btext">BCA Webtools</div> </div>
      </div>
    </div>

      {# <!--<h3 align="left">BCA Webtools</h3>-->
      <!--<div id="btext">BCA Webtools</div>-->
      <!--<img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="72" width="72" align="center" >--> #}
  </div>

  <div id="nav">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></td></li>
    </ul>
  </div>

  <div id="main">

    <p class="important">
	Browse directories and download files. Items marked "r" in the first column are regular files. Items marked "d" are directories.
      <!--<BR>&nbsp;<BR> -->
        <script>
        document.write({{ file_list }});
        </script>
        <ul>
          <!--<table style="width:300px"> -->
          <table class="tight">
          <!--<caption><i> File List </i></caption>-->
          <tr>
              <th align="left">d/r</th>
              <th align="left">Filename</th>
              <th align="left">Size</th>
              <th align="left">Last Modified</th>
              <th align="left">Deleted?</th>
          </tr>
          {% for item in file_list %}
            {% if item.isdir %}
                {% set column1 = 'd' %}
            {% else %}
                {% set column1 = 'r' %}
            {% endif %}

            {% set itemname = item.name %}


            {% set fileinfo_html = partition_num ~'/'~ itemname %}
            <p style="font-size:9">
            <tr>
              <td>{{ column1 }}</td>
              <td> <a href="{{ url_for('file_clicked', image_name=image_name, image_partition=partition_num,  encoded_filepath=itemname) }}">{{ itemname }}</a>  </td>
              <td>{{ item.size }}</td>
              <td>{{ item.mtime }}</td>
              <td>{{ item.deleted }}</td>
            </tr>
            </p>
          {% endfor %}
        </table>
        </ul>
      {# {% endraw %} #}
    </p>

  </div>

  <div id="sidebar">
    <p></p>
  </div>

  <div id="footer">
    <li><a href="{{ url_for('admin') }}">Admin</a></td></li>
    <!-- <p>BitCurator Access, 2015</p> -->
  </div>

</div>

{% endblock %}
