{% extends "fl_signup_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:#222;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Roboto, sans-serif;
            line-height: 1.6
            font-size:14px;
            <!--background-color: #d2b48c;-->
        }

    </style>
{% endblock %}
{% block content %}

<div id="wrap">

  <div id="header">
    <div style="width: 30%; display: table;">
      <div style="display: table-row">
        <div style="display: table-cell;"> <img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="80" width="80" align="center" > </div>
        <div style="width: 300px; display: table-cell;"> <div id="btext">BCA Webtools</div> </div>
      </div>
    </div>    

      <!--<h3 align="left">BCA Webtools</h3>-->
      <!--<div id="btext">BCA Webtools</div>-->
      <!--<img src="{{ url_for('static', filename ='bc2-icon.png') }}" height="72" width="72" align="center" >-->
  </div>


  <div id="nav">
    <ul>

       <li><a href="{{ url_for('home') }}">Home</a></li>
       <li><a href="{{ url_for('about') }}">About</a></li>
       <li><a href="{{ url_for('contact') }}">Contact</a></li>
       {% if 'email' in session %}
       <li><a href="{{ url_for('profile') }}">Profile</a></li>
       <li><a href="{{ url_for('signin') }}">Sign Out</a></li>
       {% else %}
       <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
       <li><a href="{{ url_for('signin') }}">Sign In</a></li>
       {% endif %}

    </ul>
  </div>

  <div id="main">
 
    <h3>Sign up</h3>
 
    {% for message in form.firstname.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
   
    {% for message in form.lastname.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
   
    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
   
    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
   
    <form action="{{ url_for('signup') }}" method=post>
      {{ form.hidden_tag() }}

      <table>
        <tr>
          <td>{{ form.firstname.label }}</td>
          <td>{{ form.firstname }}</td>
        </tr>

        <tr>
          <td>{{ form.lastname.label }}</td>
          <td>{{ form.lastname }}</td>
        </tr>

        <tr>
          <td>{{ form.email.label }}</td>
          <td>{{ form.email }}</td>
        </tr>

        <tr>
          <td>{{ form.password.label }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
 
      {{ form.submit }}
    </form>
    
  </div>

  <div id="sidebar">
    <p></p>
  </div>

  <div id="footer">
    <a href={{ admin }}>Admin</a>
    <!-- <p>BitCurator Access, 2015</p> -->
  </div>

</div>

 
{% endblock %}
