{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:black;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 0px dotted gray;;
            font-family: Verdana, Geneva, sans-serif;
            font-size:14px;
            <!--background-color: #d2b48c;-->
        }
        form {
            list-style-type: none;
            top: 15px;
            right: 350px;
            <!--position: absolute;-->
        }

    </style>
{% endblock %}
{% block content %}

<div id="wrap">

  <div id="header">
    <img src="{{ url_for('static', filename ='dheader.png') }}" height="78" width="880" align="center" >
    <h3 align="left">bca-webtools</h3>
  </div>

  <div id="nav">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></td></li>
    </ul>
  </div>

  <div id="main">

    <p class="important">
      The bca-webtools application provides access to forensically-packaged and raw disk images. Supported file systems include FAT16, FAT32, NTFS, HFS+, ISO9660, and EXT2/3/4. Click on 'Browse' to navigate through the file system(s) within the disk image, or 'Download' to download the complete disk image.
      <BR>&nbsp;<BR> 

          <!--<table style="width:300px"> -->
          <table>
          {#<caption><i>Image List</i></caption>#}
          <tr>
              <!-- <th align="left"></th> -->
              <th align="left">Image Name</th>
              <th align="left">Image Info</th>
              <th align="left">Browse</th>
              <th align="left">Download</th>
              <th> </th>
          </tr>
          {% set item_num = 0 %}
          {% for item in image_list %}
            {% set imginfo_html = "image/" ~ item  %} 
            {% set img_md_html = "image/metadata/" ~ item  %} 
            <p style='font-size:9'>
            <tr>
               <td> {{ item }} </td>
               <td> <a href={{ img_md_html }}><img src="{{ url_for('static', filename ='metadata.png') }}" height="20" width="20" align="center" border="0"></a> </td>
               <td> <a href={{ imginfo_html }}><img src="{{ url_for('static', filename ='browse.png') }}" height="20" width="20" align="center" border="0" ></a> </td>
               <td> <a href=imgdnld.html><img src="{{ url_for('static', filename ='download.png') }}" height="20" width="20" align="center" border="0" ></a> </td>
               <!-- <td><a href={{ imginfo_html }}>Browse</a></td> -->
               <!-- <td><a href=imgdnld.html>Download</a></td> -->
            </tr>
            </p>
            {% set item_num = item_num + 1 %}
            {#<li>{{ item }} <a href={{ imginfo_html }}>Browse</a> <a href=imgdnld.html>Download</a></li>#}
          {% endfor %}
          </table>
  </div>

  <div id="sidebar">

    <p>Search contents of all images by filename or file contents. (Currently indexing all filenames, contents of .doc, .odt, .pdf, and .txt)
 
    <p> 
      <form action="{{ url_for('query') }}" method=post>
        {{ form.hidden_tag() }}
        <!--{{ form.search_text.label }}-->
        {{ form.search_text }}
        {{ form.radio_option }}
        {{ form.submit }}
      </form>
    </p>


  </div>

  <div id="footer">
    <p>BitCurator Access, 2015</p>
  </div>

</div>

{% endblock %}
