{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron media">
      <div class="media-left">
        <img alt="BitCurator Access logo." title="BCA WebTools logo" src="{{ url_for('static', filename='img/bc2-icon.png') }}" />
      </div>
      <div class="media-body">
        <p>
          Explore raw and forensically-packaged (.E01 and .AFF) disk images in a web browser.
          Supported file systems include FAT, ExFAT, NTFS, HFS+, EXT2/3/4, ISO 9660 (CD-ROM), and YAFFS2 (Android).
          Click on 'Browse' to examine partitions and file systems, or 'Download' to download the complete disk image.
        </p>
      </div>
    </div>
    <div class="row">
      <h2>Images</h2>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="list-group">
          {% for image in db_images %}
          <a class="list-group-item" href="{{ "/image/" + image.id|string  }}" >
            <h4 class="list-group-item-heading">{{ image.name }}</h4>
            <p class="list-group-item-text">Path: {{ image.path }}</p>
            <p class="list-group-item-text">Sha1: {{ image.byte_sequence.sha1 }}</p>
            <p class="list-group-item-text">MIME: {{ image.byte_sequence.mime_type }}</p>
            <p class="list-group-item-text">Size: {{ image.byte_sequence.size }}</p>
          </a>
          {% endfor %}
        </div>
      <div class="col-md-2"></div>
    </div>
{% endblock page_content %}
