{% extends "page.html" %}
{% block title %}Images{% endblock %}
{% block scripts %}
{% with table_id='images' %}
{% include "table_sort.html" %}
{% endwith %}
{% endblock scripts %}
{% block page_content %}
    <div class="row">
      <div class="col-md-12">
        <h2>Images</h2>
        <table id="images" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>MIME</th>
              <th>SHA-1</th>
              <th>Indexed</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            {% for image in db_images %}
            <tr>
              <td><a href="{{ "/image/" + image.id|string  }}">{{ image.name }}</a></td>
              <td>{{ image.byte_sequence.size|sizeof_fmt }}</td>
              <td>{{ image.byte_sequence.mime_type }}</td>
              <td>{{ image.byte_sequence.sha1 }}</td>
              <td>{% if image.indexed %}{{ image.indexed|timestamp_fmt }}{% else %}Queued{% endif %}</td>
              <td><a href="{{ "/image/data/" + image.id|string  }}" ><span class="glyphicon glyphicon-save" aria-hidden="true"></span></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock page_content %}
