<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bcaStyle.css') }}">
    {#<link rel="stylesheet" href="style.css" />#}
    <title>{% block title %}{% endblock %} - BitCurator Access Webtools</title>
    {% endblock %}
</head>
<body>
    <div id=" Images">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {# &copy; 2015 <a href="http://wiki.bitcurator.net/">BitCurator</a>. #}
        {% endblock %}
    </div>
</body>
