{% extends "flask_template.html" %}
{% block title %}Disk Image Access for the Web{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        <style type="text/css">
        h1.categories
        {
            color:red;
            text-align:center;
        }
        h1 {
            color:black;
            text-align:center;
        }
        body {
            color:green;
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
            border: 1px dotted gray;;
            font-family: sans-serif;
            font-size:14px;
        }

    </style>
{% endblock %}
{% block content %}
    {#<img src="IMG_3446.JPG" height="100" width="150" />#}
    {#<img src="{{ url_for('static', filename ='FinalBCLogo-400px-v2.png') }}" align="right" height="50" > #}
    <img src="{{ url_for('static', filename ='dimac.png') }}" height="120" width="300" align="center" >
    <h2 align="left">Disk Image Access for the Web</h2>
    {#<BR>&nbsp;<BR>#}
    <BR>&nbsp;<BR> 
    <p class="important">
      The following readable partitions were found in this disk image:

      <BR>&nbsp;<BR> 
        <script>
        document.write({{ image_name }});
        </script>
        <ul>
          {% set num_partitions = 1 %}
          {% for number in range(0, num_partitions) %} 
            {% set part = number + 1 %}
            {% set partinfo_html = image_name ~ "/"~part %}
            <li>Partition# {{ part }} <a href={{ partinfo_html }}>Browse</a> </li>
          {% endfor %}
        </ul>
      {# {% endraw %} #}
    </p>
{% endblock %}
